//texture background
.texture-bkg{
	background-image: url(/img/texture-background.jpg);
}

//section formulaire
.formulaires{
	background-image: url(/img/formulaires-bkg.png);
}

textarea{
	width: 100%;
	height: 100px;
}

//section connexion
.connexion{
	background-image: url(/img/connexion-bkg.png);
	background-size: cover;
	background-position: center;
	height: 500px;
}

//section inscription
.inscription{
	background-image: url(/img/inscription-bkg.png);
	background-size: cover;
	background-position: center;
	height: 500px;
}