//texture background
.texture-bkg{
	background-image: url(/img/texture-background.jpg);
}

//section formulaire
.formulaires{
	background-image: url(/img/formulaires-bkg.png);
}

textarea{
	width: 100%;
	height: 100px;
}